<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" routerLink="sys/codeManage">sys</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  routerLink="sys/materialtest">materialtest</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  href="sys/reduxtest">reduxtest</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  href="logi/delivery">delivery</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  href="acc/totalTrialBalance">totaltrialbalance</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  href="sys/customer">customer</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  href="logi/LogiProductionResultViewComponent">LogiProductionResultViewComponent</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"  href="logi/mps">mps</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled"  href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul>