<h1>
  근태 승인 관리 화면 
</h1>
<mat-tab-group>
  <mat-tab label="근태승인관리"> <app-daily-attd-approval-management-view></app-daily-attd-approval-management-view> </mat-tab>
  <mat-tab label="근태외승인관리"> <app-daily-attd-rest-approval-management-view></app-daily-attd-rest-approval-management-view> </mat-tab>
  <mat-tab label="연장/심야승인관리"> <app-over-night-attd-approval-management-view></app-over-night-attd-approval-management-view></mat-tab>
  <mat-tab label="휴가연차승인"> <app-day-annual-attd-approval-management-view></app-day-annual-attd-approval-management-view> </mat-tab>
</mat-tab-group>