<div>

  <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
    </ngb-datepicker>
  <ng-template #t let-date let-focused="focused">
    <span class="custom-day"
          [class.focused]="focused"
          [class.range]="isRange(date)"
          [class.faded]="isHovered(date) || isInside(date)"
          (mouseenter)="hoveredDate = date"
          (mouseleave)="hoveredDate = null">
      {{ date.day }}
    </span>
  </ng-template>
  
  <button (click)="addContract()">수주 추가</button>
  <button (click)="findContractList()">수주 조회</button>
  <button (click)="deleteContract()">수주 삭제</button>
  <button (click)="saveContract()">저장</button>

<ag-grid-angular 
#contractGrid
style="width: 1300px; height: 500px; " 
class="ag-theme-balham"
[rowData]=contractArray.contractList
[columnDefs]="contractColumnDefs"
[getRowStyle]="getRowStyle"
rowSelection="multiple"
 >
</ag-grid-angular>

<hr>

<ag-grid-angular 
#contractDetailGrid
style="width: 1300px; height: 400px; " 
class="ag-theme-balham"
[rowData]=contractDetailList
[columnDefs]="contractDetailColumnDefs"
[getRowStyle]="getRowStyle"
rowSelection="multiple"
 >
</ag-grid-angular>

<ng-template #content let-modal>
  <h5 class="modal-title" id="exampleModalLabel">Estimate Dialog</h5>
  <div class="modal-header">
      <ag-grid-angular 
      #itemDialogGrid
      style="width: 470px; height: 400px; " 
      class="ag-theme-balham"
      [rowData]=dataArray.estimateList
      [columnDefs]="estimateDialogColumnDefs"
      [getRowStyle]="getRowStyle"
      rowSelection="multiple"
       >
    </ag-grid-angular>
  </div>
</ng-template>

<hr>
</div>